@tailwind base;
@tailwind components;
@tailwind utilities;


.popup-overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}
.popup {
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  position: relative;
}
.popup {
  @apply bg-slate-900 text-white rounded-xl;
}
.popup-overlay {
  @apply rounded-xl flex items-center justify-center fixed;
}

tr > td,
tr > th {
  @apply p-1.5;
}


#addExpContainer {
  @apply shadow-lg shadow-black rounded-lg p-10;
}

#addExpContainer input,
#addExpContainer textarea,
#addExpContainer select,
.popup input,
.popup textarea,
.popup select {
  @apply rounded-lg my-2 bg-transparent text-white border
}

select option {
  @apply bg-slate-900 text-white text-base
}

#options button {
  @apply text-white p-2 rounded-lg shadow-md hover:shadow-black hover:scale-105;
}



#radioTypes div input {
  @apply m-1;
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
}

#boxes {
  @apply bg-blue-950
}

#back {
  @apply bg-white text-slate-800 px-2 py-1 rounded-xl hover:scale-105 shadow-lg;
}

#sticky_header {
  @apply sticky top-0 z-10 bg-slate-800 backdrop-filter backdrop-blur-lg bg-opacity-30 border-b border-slate-700;
}
#gradient {
  @apply bg-gradient-to-t from-blue-700 via-blue-800 to-gray-800
}
.search_input {
  @apply w-[90%] p-2 text-black rounded-md border border-gray-200 bg-white text-sm shadow-lg font-medium focus:border-black focus:outline-none focus:ring-0
}

#option_buttons{
 @apply bg-sky-800 w-[40%] text-center text-lg p-2 rounded-lg shadow-md hover:shadow-black
}